---
layout: default
title: GitLab.com
suppress_header: true
extra_css:
  - features-v2.css
---

= partial "includes/solutions/solution-page", locals: { solution: data.solutions.solutions.gitlab_com, solution_name: "gitlab_com" }
