.col-sm-4.clearfix.feature-container
  .col-xs-12.feature-contents
    %h4
      = feature.title
    .badge-container
      - if (feature.gitlab_ce == true)
        %a{"title" => "GitLab Community Edition", "data-toggle" => "tooltip", "data-placement" => "top"}
          %span{class: "ce"}
            CE
      - if (feature.gitlab_ees == true)
        %a{"title" => "GitLab Enterprise Edition Starter", "data-toggle" => "tooltip", "data-placement" => "top"}
          %span{class: "ees"}
            EES
      - if (feature.gitlab_eep == true)
        %a{"title" => "GitLab Enterprise Edition Premium", "data-toggle" => "tooltip", "data-placement" => "top"}
          %span{class: "eep"}
            EEP
    %p
      = feature.description
    - unless (feature.link == nil)
      %span
        - if (feature.link.to_s.start_with?("https://docs.gitlab.com"))
          = link_to "Documentation", feature.link
        - elsif (feature.link.to_s.start_with?("https://about.gitlab.com"))
          = link_to "Feature details", feature.link
        - else
          = link_to "Feature details", feature.link
