.page-container.text-center.animated#monitor
  .container.titles
    %h1
      = data.solutions.solutions.public_send(solution).display_name
    %h4
      = data.solutions.solutions.public_send(solution).description
    %h4
      = link_to "Read more", "/solutions/#{solution.to_s.gsub(/_/, '-')}"
