---
title: Solutions
suppress_header: true
extra_css:
  - features-v2.css
extra_js:
  - features.js
---

.page-container.landing-container.text-center
  %div
    %h1.page-headline
      Solutions
    %h2.page-subtitle
      Confidently and rapidly iterate towards a better product.

- data.solutions.solutions.keys.each do |solution|
  = partial "includes/solutions/solution-item", locals: { solution: "#{solution}" }

.gitlab-cta-container.text-center.animated
  .container
    %h1
      Choose the version of GitLab that is best for you
    %h4
      Host GitLab on your servers or let us host it for you
    %a.btn.cta-btn.red.hidden-sm.hidden-xs{href: "/products"}
      Explore our products
    %a.btn.cta-btn.red.visible-sm.visible-xs{href: "/products"}
      Explore
