---
layout: default
title: Define
suppress_header: true
extra_css:
  - features-v2.css
---

= partial "includes/solutions/solution-page", locals: { solution: data.solutions.solutions.define, solution_name: "define" }
